In [1]:
from helper import *
pd.set_option('display.precision', 2)

import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

from ipynb.fs.full.functions import project

In [2]:
file = 'Testing/April 15.csv'

# BO5s

In [3]:
df = pd.read_csv(file)
df = df[df['Stat type'] == 'MAPS 1-3 Kills'].sort_values('Team').drop(['Added', 'Updated'], axis=1)
df.Name[df.Name=='Glory'] = 'Glory2'

In [4]:
project('JDG', 'BLG', 2, 1, df)

,Name,Position,Team,Opponent Team,Stat type,Projection,Model Proj,Difference
0,Kanavi,JNG,JDG,BLG,MAPS 1-3 Kills,10.5,9.77,-0.73
1,knight,MID,JDG,BLG,MAPS 1-3 Kills,12.0,11.46,-0.54
2,369,TOP,JDG,BLG,MAPS 1-3 Kills,6.5,5.83,-0.67
3,Ruler,BOT,JDG,BLG,MAPS 1-3 Kills,13.5,11.78,-1.72
4,Xun,JNG,BLG,JDG,MAPS 1-3 Kills,7.5,8.35,0.85
5,Elk,BOT,BLG,JDG,MAPS 1-3 Kills,14.5,16.10,1.60
6,Yagao,MID,BLG,JDG,MAPS 1-3 Kills,7.5,9.10,1.60
7,Bin,TOP,BLG,JDG,MAPS 1-3 Kills,7.5,8.55,1.05

PROJECTIONS BASED ON:  JDG 2-1 BLG

In [5]:
project('DFM', 'SG', 2, 1, df)

,Name,Position,Team,Opponent Team,Stat type,Projection,Model Proj,Difference
0,Yutapon,BOT,DFM,SG,MAPS 1-3 Kills,12.5,13.48,0.98
1,Aria,MID,DFM,SG,MAPS 1-3 Kills,11.5,12.24,0.74
2,Jett,MID,SG,DFM,MAPS 1-3 Kills,12.0,10.52,-1.48
3,LokeN,BOT,SG,DFM,MAPS 1-3 Kills,11.5,10.89,-0.61

PROJECTIONS BASED ON:  DFM 2-1 SG

In [6]:
project('TW', 'SE', 2, 1, df)

,Name,Position,Team,Opponent Team,Stat type,Projection,Model Proj,Difference
0,Glory2,MID,TW,SE,MAPS 1-3 Kills,10.5,10.57,0.07
1,Vit,BOT,TW,SE,MAPS 1-3 Kills,16.0,16.31,0.31
2,Slayder,BOT,SE,TW,MAPS 1-3 Kills,15.0,15.05,0.05
3,Dia1,MID,SE,TW,MAPS 1-3 Kills,8.0,6.70,-1.30

PROJECTIONS BASED ON:  TW 2-1 SE

In [7]:
project('LLL', 'PNG', 2, 1, df)

,Name,Position,Team,Opponent Team,Stat type,Projection,Model Proj,Difference
0,tinowns,MID,LLL,PNG,MAPS 1-3 Kills,9.5,9.02,-0.48
1,Route,BOT,LLL,PNG,MAPS 1-3 Kills,13.5,13.02,-0.48
2,dyNquedo,MID,PNG,LLL,MAPS 1-3 Kills,10.0,9.53,-0.47
3,Bvoy,BOT,PNG,LLL,MAPS 1-3 Kills,12.5,10.59,-1.91

PROJECTIONS BASED ON:  LLL 2-1 PNG

# BO3s

In [8]:
df = pd.read_csv(file)
df = df[df['Stat type'] == 'MAPS 1-2 Kills'].sort_values('Team').drop(['Added', 'Updated'], axis=1)

In [9]:
project('G2', 'SK', 2, 0, df)

,Name,Position,Team,Opponent Team,Stat type,Projection,Model Proj,Difference
0,BrokenBlade,TOP,G2,SK,MAPS 1-2 Kills,8.0,9.58,1.58
1,Caps,MID,G2,SK,MAPS 1-2 Kills,7.5,10.11,2.61
2,Yike,JNG,G2,SK,MAPS 1-2 Kills,8.5,9.37,0.87
3,Hans sama,BOT,G2,SK,MAPS 1-2 Kills,9.5,12.42,2.92
4,Irrelevant,TOP,SK,G2,MAPS 1-2 Kills,3.5,3.00,-0.50
5,Sertuss,MID,SK,G2,MAPS 1-2 Kills,5.5,3.29,-2.21
6,Markoon,JNG,SK,G2,MAPS 1-2 Kills,4.5,4.14,-0.36
7,Exakick,BOT,SK,G2,MAPS 1-2 Kills,5.5,6.29,0.79

PROJECTIONS BASED ON:  G2 2-0 SK

In [10]:
project('MAD', 'FNC', 1, 1, df)

,Name,Position,Team,Opponent Team,Stat type,Projection,Model Proj,Difference
0,Chasy,TOP,MAD,FNC,MAPS 1-2 Kills,5.0,5.87,0.87
1,Carzzy,BOT,MAD,FNC,MAPS 1-2 Kills,8.5,8.65,0.15
2,Nisqy,MID,MAD,FNC,MAPS 1-2 Kills,6.5,6.67,0.17
3,Elyoya,JNG,MAD,FNC,MAPS 1-2 Kills,6.0,5.84,-0.16
4,Rekkles,BOT,FNC,MAD,MAPS 1-2 Kills,7.0,8.36,1.36
5,Humanoid,MID,FNC,MAD,MAPS 1-2 Kills,6.0,6.43,0.43
6,Razork,JNG,FNC,MAD,MAPS 1-2 Kills,6.5,6.86,0.36
7,Oscarinin,TOP,FNC,MAD,MAPS 1-2 Kills,6.0,6.42,0.42

PROJECTIONS BASED ON:  MAD 1-1 FNC